* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: unset;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}