@import url("https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css")
layer(mapbox);

.page-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/weather-map-project/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

span.city {
  max-width: 200px;
  font-size: 40px;
  font-weight: bold;
  color: #413434;
}

form {
  right: 350px;
  top: 50px;
  max-width: 250px;
}

.heading {
  font-size: 30px;
}
.forecast {
  border: 5px solid #333232;
  width: 15%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.8;
}
